/* line 3, ../sass/grille.sass */
.col-1 {
  width: calc(100% / 12);
}

/* line 6, ../sass/grille.sass */
.col-2 {
  width: calc(100% /12 * 2);
}

/* line 9, ../sass/grille.sass */
.col-3 {
  width: calc(100% / 12 * 3);
}

/* line 12, ../sass/grille.sass */
.col-4 {
  width: calc(100% / 12 * 4);
}

/* line 15, ../sass/grille.sass */
.col-5 {
  width: calc(100% / 12 * 5);
}

/* line 18, ../sass/grille.sass */
.col-6 {
  width: calc(100% / 12 * 6);
}

/* line 21, ../sass/grille.sass */
.col-7 {
  width: calc(100% / 12 * 7);
}

/* line 24, ../sass/grille.sass */
.col-8 {
  width: calc(100% / 12 * 8);
}

/* line 27, ../sass/grille.sass */
.col-9 {
  width: calc(100% / 12 * 9);
}

/* line 30, ../sass/grille.sass */
.col-10 {
  width: calc(100% / 12 * 10);
}

/* line 33, ../sass/grille.sass */
.col-11 {
  width: calc(100% / 12 * 11);
}

/* line 36, ../sass/grille.sass */
.col-12 {
  width: 100%;
}

/* line 41, ../sass/grille.sass */
.decal-1 {
  margin-left: calc(100% / 12);
}

/* line 44, ../sass/grille.sass */
.decal-2 {
  margin-left: calc(100% / 12 * 2);
}

/* line 47, ../sass/grille.sass */
.decal-3 {
  margin-left: calc(100% / 12 * 3);
}

/* line 50, ../sass/grille.sass */
.decal-4 {
  margin-left: calc(100% / 12 * 4);
}

/* line 53, ../sass/grille.sass */
.decal-5 {
  margin-left: calc(100% / 12 * 5);
}

/* line 56, ../sass/grille.sass */
.decal-6 {
  margin-left: calc(100% / 12 * 6);
}

/* line 59, ../sass/grille.sass */
.decal-7 {
  margin-left: calc(100% / 12 * 7);
}

/* line 62, ../sass/grille.sass */
.decal-8 {
  margin-left: calc(100% / 12 * 8);
}

/* line 65, ../sass/grille.sass */
.decal-9 {
  margin-left: calc(100% / 12 * 9);
}

/* line 68, ../sass/grille.sass */
.decal-10 {
  margin-left: calc(100% / 12 * 10);
}

/* line 71, ../sass/grille.sass */
.decal-11 {
  margin-left: calc(100% / 12 * 11);
}

/* line 76, ../sass/grille.sass */
.bloc {
  height: 100vh;
}

.bloc1 {
  height: 10vh
}

.bloc2 {
  height: 20vh
}

.bloc3 {
  height: 30vh
}

.bloc4 {
  height: 40vh
}

.bloc5 {
  height: 50vh
}

.bloc6 {
  height: 60vh
}

.bloc7 {
  height: 70vh
}

.bloc8 {
  height: 80vh
}

.bloc9 {
  height: 90vh
}