html, body
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
}

.header
{
	background-color: #6D8FFF;
}

.header h1
{
	padding-top: 5vh;
	text-align: center;
	margin: 0;
	color: azure;
}

.core h2
{
	text-align: center;
	font-size: 3em;
	color: #6D8FFF;
}

footer
{
	background-color: #222222;
}

footer p
{
	text-align: center;
	color: azure;
	font-size: 2em;
}