html, body
{
	margin: 0;
}

.header
{
	background-color: #f4c9a6;
}

.header h1
{
	margin-top: 5vh;
	text-align: center;
	margin: 0;
	color: antiquewhite;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}