html, body
{
	margin: 0;
}

.header
{
	background-color: #915478;
}

.header h1
{
	color: antiquewhite;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}